.RoomContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.RoomWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BookNow{
    right: 0;
    border: none;
    padding: 10px 20px;
    background-color: #445d4d;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.RoomImgWrapper{
    width: 100%;
}

.RoomImg{
    width: 100%;
    object-fit: cover;
}

.RoomTitle{
    font-size: 24px;
}

.RoomImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.RoomImgWrapper{
    width: 50%;
}

.RoomDetails{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.RoomDetailsTexts{
    flex: 3;
}

.RoomDecs{
    font-size: 14px;
    margin-top: 20px;
}

.RoomDetailsPrice{
    flex: 1;    
    background-color: #deece3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.RoomDetailsPrice>h2{
    font-size: 18px;
    color: #445d4d;
}

.RoomDetailsPrice>span{
    font-size: 14px;
}

.RoomDetailsPrice>h3{
    font-weight: 300;
    font-size: 24px;
}

.RoomDetailsPrice>small{
    font-size: 10px;
}







